Repository Giskard-AI/giskard, pull requests merged in 2023-09, with the labels that each got.

#1208 GSK-1105 & GSK-1132: create some basic methods to the test suite
  backend/src/main/java/ai/giskard/web/rest/controllers/testing/TestSuiteController.java
  python-client/giskard/client/giskard_client.py
  python-client/giskard/core/suite.py
  python-client/tests/test_programmatic.py
Labels: Python, Backend

#1361 GSK-1507
  python-client/docs/reference/notebooks/airline_tweets_sentiment_analysis.ipynb
  python-client/docs/reference/notebooks/churn_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/fake_real_news_classification.ipynb
  python-client/docs/reference/notebooks/m5_sales_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/movie_review_sentiment_classification_pytorch_sklearn.ipynb
  python-client/docs/reference/notebooks/newspaper_classification_pytorch.ipynb
  python-client/docs/tutorials/data-types/tabular/index.md
  python-client/docs/tutorials/data-types/text/index.md
  python-client/docs/tutorials/libraries/huggingface/index.md
  python-client/docs/tutorials/libraries/lightgbm/index.md
  python-client/docs/tutorials/libraries/pytorch/index.md
  python-client/docs/tutorials/libraries/tensorflow/index.md
  python-client/docs/tutorials/tasks/classification/index.md
  python-client/docs/tutorials/tasks/regression/index.md
Labels: documentation

#1360 [GSK-1632] changed perturbation push title from absolute to relative
  python-client/giskard/push/__init__.py
Labels: Python, push-feature

#1363 [GSK-1633] Reducing bounds for push contribution (numerical feat)
  python-client/giskard/push/contribution.py
  python-client/giskard/push/utils.py
  python-client/tests/test_push.py
Labels: Python, push-feature

#1377 [GSK-1634] From MAD to 10% change per sample
  python-client/giskard/ml_worker/testing/functions/transformation.py
  python-client/giskard/push/perturbation.py
Labels: Python, push-feature

#1348 Fixed issues with upload
  backend/src/main/java/ai/giskard/service/CallableService.java
  backend/src/main/java/ai/giskard/service/SlicingFunctionService.java
  backend/src/main/java/ai/giskard/service/TestFunctionService.java
  backend/src/main/java/ai/giskard/service/TransformationFunctionService.java
  frontend/src/stores/catalog.ts
Labels: safe for build

#1384 [GSK-1702] SHAP import issue
  python-client/giskard/core/errors.py
  python-client/giskard/integrations/wandb/wandb_utils.py
  python-client/giskard/models/model_explanation.py
  python-client/giskard/models/shap_result.py
Labels: Python, dependency

#1379 [GSK-1684] removing validation flags for model evaluation
  python-client/giskard/core/model_validation.py
  python-client/giskard/integrations/mlflow/giskard_evaluator_utils.py
  python-client/giskard/models/base/model.py
  python-client/giskard/scanner/__init__.py
  python-client/giskard/scanner/scanner.py
Labels: Python

#1356 [GSK-1621] Create a "How to use" section to Catalog>SFs and Catalog>TFs
  frontend/src/views/main/project/CatalogCodeWidget.vue
  frontend/src/views/main/project/FiltersCatalog.vue
  frontend/src/views/main/project/TestsCatalog.vue
  frontend/src/views/main/project/TransformationsCatalog.vue
Labels: Frontend

#1204 Feature/gsk 1243 project export doesnt work
  backend/src/main/java/ai/giskard/domain/Callable.java
  backend/src/main/java/ai/giskard/domain/FunctionArgument.java
  backend/src/main/java/ai/giskard/domain/TestFunction.java
  backend/src/main/java/ai/giskard/domain/ml/SuiteTestExecution.java
  backend/src/main/java/ai/giskard/repository/ml/CallableRepository.java
  backend/src/main/java/ai/giskard/service/FileLocationService.java
  backend/src/main/java/ai/giskard/service/ImportService.java
  backend/src/main/java/ai/giskard/service/ProjectService.java
  backend/src/main/java/ai/giskard/utils/ArtifactUtils.java
  backend/src/main/java/ai/giskard/utils/YAMLConverter.java
  backend/src/main/java/ai/giskard/web/dto/ml/TestResultMessageDTO.java
  frontend/src/views/main/project/Project.vue
  frontend/src/views/main/project/ProjectProperties.vue
Labels: Backend

#1385 [GSK-1700] Issue when df has single column
  python-client/giskard/models/__init__.py
  python-client/giskard/models/base/wrapper.py
  python-client/tests/models/test_function_model.py
Labels: enhancement, Python

#1324 [GSK-1593] Display Giskard Client info including URL, token and Spaces token
  frontend/src/components/ClientInstructionCard.vue
  frontend/src/components/StartWorkerInstructions.vue
  frontend/src/hf-utils.ts
  frontend/src/snippets.ts
  frontend/src/stores/hfspaces.ts
  frontend/src/views/main/admin/settings/SettingsGeneral.vue
  frontend/src/views/main/profile/UserProfile.vue
  frontend/src/views/main/project/TestSuites.vue
Labels: safe for build, Frontend

#1303 Update push-feature.md
  python-client/docs/push-feature.md
Labels: documentation

#1310 Update README.md
  README.md
  readme/architechture_giskard.png
  readme/scan_example.gif
  readme/suite_example.png
Labels: documentation

#1338 [GSK-1587] Add MixPanel to backend and track WebSocket events with general info
  backend/build.gradle.kts
  backend/src/main/java/ai/giskard/GiskardApp.java
  backend/src/main/java/ai/giskard/config/ApplicationProperties.java
  backend/src/main/java/ai/giskard/service/AnalyticsCollectorService.java
  backend/src/main/java/ai/giskard/service/ml/MLWorkerWSCommService.java
  backend/src/main/java/ai/giskard/service/ml/MLWorkerWSService.java
  backend/src/main/resources/config/application-dev.yml
  backend/src/main/resources/config/application-prod.yml
  backend/src/test/resources/config/application.yml
Labels: safe for build, Backend

#1312 [GSK-1560] Docs of integration on Hugging Face Spaces
  python-client/docs/assets/create_project.gif
  python-client/docs/assets/integrations/hfs/copy_token.png
  python-client/docs/assets/integrations/hfs/duplicate_this_space.png
  python-client/docs/assets/integrations/hfs/free_tier.png
  python-client/docs/assets/integrations/hfs/generate_token.png
  python-client/docs/assets/integrations/hfs/giskard_client.png
  python-client/docs/assets/integrations/hfs/hfs.svg
  python-client/docs/assets/integrations/hfs/input_hf_access_token.png
  python-client/docs/assets/integrations/hfs/mlworker.png
  python-client/docs/assets/integrations/hfs/paid_tier.png
  python-client/docs/assets/integrations/hfs/where_to_create_access_token.png
  python-client/docs/guides/installation_app/index.rst
  python-client/docs/guides/installation_app/install_hfs/index.md
  python-client/docs/guides/scan/index.rst
  python-client/docs/guides/upload/index.md
  python-client/docs/integrations/hugging-face-spaces/index.md
  python-client/docs/integrations/index.md
Labels: documentation

#1405 [GSK-1700] Issue when df has single column (version 2)
  python-client/giskard/core/model_validation.py
  python-client/tests/models/test_function_model.py
Labels: Python

#1412 [GSK-1715] Filling per-test debug descriptions
  frontend/src/views/main/project/SuiteTestExecutionCard.vue
  python-client/giskard/ml_worker/testing/registry/decorators.py
  python-client/giskard/testing/tests/__init__.py
  python-client/giskard/testing/tests/calibration.py
  python-client/giskard/testing/tests/drift.py
  python-client/giskard/testing/tests/metamorphic.py
  python-client/giskard/testing/tests/performance.py
  python-client/giskard/testing/tests/statistic.py
Labels: Python

#1404 [GSK-1751] text push always giving None as the most contributing word
  python-client/giskard/push/contribution.py
  python-client/tests/test_push.py
Labels: Python, push-feature

#1424 [GSK-1790] Fix UI bug when adding a new feedback
  backend/src/main/java/ai/giskard/service/MailService.java
Labels: High priority, Backend

#1408 [GSK-1726] Add code snippet to Export test button
  frontend/src/views/main/project/TestSuite.vue
  frontend/src/views/main/project/modals/ExportTestModal.vue
Labels: Frontend

#1409 [GSK-852] Change Tensorflow to latest version, to enable arm64 test a…
  .github/workflows/build-images.yml
  .github/workflows/build-release-images.yml
  .github/workflows/build_backend.yml
  .github/workflows/nightly-test.yml
  Dockerfile
  backend/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  python-client/README.md
  python-client/giskard/ml_worker/websocket/listener.py
  python-client/giskard/scanner/llm/detoxify.py
  python-client/giskard/scanner/llm/harmfulness_detector.py
  python-client/giskard/scanner/llm/minority_stereotype_detector.py
  python-client/giskard/scanner/llm/toxicity_detector.py
  python-client/pdm.lock
  python-client/pyproject.toml
  python-client/setup.py
  python-client/tests/fixtures/imdb.py
  python-client/tests/models/tensorflow/test_mnist.py
  python-client/tests/models/tensorflow/test_tabular_titanic_binary_classification.py
  python-client/tests/models/tensorflow/test_text_classification.py
  python-client/tests/models/tensorflow/test_text_classification_tfhub.py
  python-client/tests/models/tensorflow/test_tf_auto_model_as_embedding_layer.py
  python-client/tests/scan/test_llm_harmfulness_detector.py
  python-client/tests/scan/test_llm_minority_stereotype_detector.py
  python-client/tests/scan/test_scanner.py
  python-client/tests/test_performance.py
Labels: Docker

#1420 New version notebook
  python-client/docs/reference/notebooks/twitter_sentiment_analysis_roberta.ipynb
  python-client/docs/tutorials/data-types/text/index.md
  python-client/docs/tutorials/libraries/huggingface/index.md
  python-client/docs/tutorials/tasks/classification/index.md
  python-client/giskard/models/base/model.py
Labels: documentation

#1290 [GSK-1476] introducing debug_description in test decorator
  backend/src/main/java/ai/giskard/domain/TestFunction.java
  backend/src/main/java/ai/giskard/ml/dto/MLWorkerWSDatasetProcessFunctionMetaDTO.java
  backend/src/main/java/ai/giskard/ml/dto/MLWorkerWSFunctionMetaBaseDTO.java
  backend/src/main/java/ai/giskard/ml/dto/MLWorkerWSFunctionMetaDTO.java
  backend/src/main/java/ai/giskard/service/TestFunctionService.java
  backend/src/main/java/ai/giskard/web/dto/TestFunctionDTO.java
  backend/src/main/resources/config/liquibase/changelog/20230803161938_changelog.xml
  backend/src/main/resources/config/liquibase/master.xml
  frontend/src/generated-sources/ai/giskard/web/dto/test-function-dto.ts
  frontend/src/views/main/project/SuiteTestExecutionCard.vue
  python-client/giskard/core/core.py
  python-client/giskard/ml_worker/testing/registry/decorators.py
  python-client/giskard/ml_worker/websocket/__init__.py
  python-client/giskard/ml_worker/websocket/utils.py
  python-client/giskard/testing/tests/__init__.py
  python-client/giskard/testing/tests/calibration.py
  python-client/giskard/testing/tests/drift.py
  python-client/giskard/testing/tests/metamorphic.py
  python-client/giskard/testing/tests/performance.py
  python-client/giskard/testing/tests/statistic.py
Labels: Python, Frontend, Backend

#1432 Fix docker build
  .github/workflows/build-images.yml
  .github/workflows/build_backend.yml
Labels: Docker

#1394 [GSK-1711] Added check of push output
  python-client/giskard/push/perturbation.py
  python-client/tests/fixtures/drug_classification__multiclass_classification.py
  python-client/tests/fixtures/enron_multilabel_classification.py
  python-client/tests/fixtures/fraud_detection__binary_classification.py
  python-client/tests/fixtures/german_credit_scoring.py
  python-client/tests/fixtures/hotel_text__regression.py
  python-client/tests/fixtures/medical_transcript_multiclass_classification.py
  python-client/tests/fixtures/xboost_classification.py
  python-client/tests/test_push.py
Labels: Python, push-feature
