Repository Giskard-AI/giskard, pull requests merged in 2023-08, with the labels that each got.

#1251 [GSK-1402] Make websocket default state as undefined
  frontend/src/socket.ts
Labels: Frontend

#1266 [GSK-1473] Enabling rewrite_prompt for giskard evaluator
  python-client/giskard/core/suite.py
  python-client/giskard/integrations/mlflow/evaluation_artifacts.py
  python-client/giskard/integrations/mlflow/giskard_evaluator.py
  python-client/giskard/integrations/mlflow/giskard_evaluator_utils.py
  python-client/giskard/models/automodel.py
  python-client/tests/models/automodel/test_infer_giskard_cls.py
Labels: Python

#1256 [GSK-1438] Invited users can't upload artifacts to a project
  backend/src/main/java/ai/giskard/security/PermissionEvaluator.java
  backend/src/main/java/ai/giskard/web/rest/controllers/ProjectController.java
  backend/src/main/java/ai/giskard/web/rest/controllers/testing/TestSuiteController.java
  backend/src/test/java/ai/giskard/service/PermissionUT.java
Labels: Backend

#1263 [GSK-1437] Fix Dataset unexpectedly delete
  frontend/src/views/main/project/modals/DeleteModal.vue
Labels: Frontend

#1255 Fixing metamorphic tests for LLM
  python-client/giskard/testing/tests/metamorphic.py
  python-client/tests/test_metamorphic_direction.py
Labels: Python

#1279 Added new regression notebook to the docs
  python-client/docs/reference/notebooks/insurance_prediction_sklearn.ipynb
  python-client/docs/tutorials/data-types/tabular/index.md
  python-client/docs/tutorials/libraries/scikit-learn/index.md
  python-client/docs/tutorials/tasks/regression/index.md
Labels: enhancement

#1262 [GSK-1087] Avoid multiple requests for license/settings
  frontend/src/stores/user.ts
Labels: Frontend

#1292 [GSK-1495] Fix incorrect prediction label color
  frontend/src/views/main/project/PredictionResults.vue
Labels: Frontend

#1294 Added new method to the Dataset class to log dataset to the WandB run.
  python-client/giskard/datasets/base/__init__.py
  python-client/giskard/scanner/result.py
Labels: enhancement, feature

#1295 [GSK-1396] Restore user doesn't work
  backend/src/main/java/ai/giskard/service/UserDeletionService.java
  frontend/src/views/main/admin/AdminUsers.vue
Labels: Frontend, Backend

#1301 GSK-1531
  python-client/giskard/core/suite.py
  python-client/giskard/integrations/wandb/wandb_utils.py
Labels: enhancement

#1296 [GSK-1491] Changing text of Create test CTA
  python-client/giskard/push/__init__.py
Labels: Python

#1293 [GSK-1472] Make company field mandatory on the license request form
  frontend/src/views/setup/Setup.vue
Labels: Frontend

#1257 Feature/gsk 1405 make sure borderline threshold is consistent
  python-client/giskard/push/__init__.py
  python-client/giskard/push/prediction.py
Labels: bug, Python, feature

#1302 [GSK-1316, GSK-1415] Spurious Correlation tests
  python-client/docs/catalogs/test-catalog/classification/index.rst
  python-client/docs/reference/tests/statistic.rst
  python-client/giskard/scanner/correlation/spurious_correlation_detector.py
  python-client/giskard/testing/__init__.py
  python-client/giskard/testing/tests/statistic.py
  python-client/tests/test_statistical.py
Labels: Python

#1305 [GSK-1540] Make it possible to create a slicing function directly from Catalog
  frontend/src/components/SuiteInputListSelector.vue
  frontend/src/views/main/project/FiltersCatalog.vue
  frontend/src/views/main/project/modals/CreateSliceCatalogModal.vue
Labels: Frontend

#1307 GSK-1533
  python-client/giskard/core/suite.py
  python-client/giskard/datasets/base/__init__.py
  python-client/giskard/integrations/wandb/wandb_utils.py
  python-client/giskard/models/model_explanation.py
  python-client/giskard/models/shap_result.py
  python-client/giskard/scanner/result.py
  python-client/tests/integrations/test_wandb.py
  python-client/tests/models/test_model_explanation.py
Labels: enhancement, feature

#1317 [GSK-1541] Make "Create new slice" more visible
  frontend/src/views/main/utils/SlicingFunctionSelector.vue
Labels: Frontend

#1322 GSK-1554: Making comments for the dataset and model creation consistent across notebooks.
  python-client/docs/reference/notebooks/amazon_review_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/cancer_detection_xgboost.ipynb
  python-client/docs/reference/notebooks/credit_scoring.ipynb
  python-client/docs/reference/notebooks/drug_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/enron_email_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/hotel_text_regression.ipynb
  python-client/docs/reference/notebooks/ieee_fraud_detection_adversarial_validation.ipynb
  python-client/docs/reference/notebooks/insurance_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/medical_transcript_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/tripadvisor_sentiment_classification.ipynb
  python-client/docs/reference/notebooks/wage_classification.ipynb
Labels: enhancement

#1328 [GSK-1563] Fix tooltip size when hovering on push button
  frontend/src/components/PushPopover.vue
  python-client/giskard/push/__init__.py
  python-client/giskard/utils/artifacts.py
Labels: Python, Frontend

#1327 [GSK-1574] Add different background color to each filter button on Debugger
  frontend/src/views/main/project/InspectionFilter.vue
Labels: Frontend

#1329 [GSK-1576] Make "go back" available with shuffle mode in Dataset Explorer
  frontend/src/views/main/project/InspectorWrapper.vue
Labels: Frontend

#1288 [GSK-1504] Integration with W&B
  python-client/docs/assets/integrations/wandb/wandb-categorical-chart.png
  python-client/docs/assets/integrations/wandb/wandb-dataset.png
  python-client/docs/assets/integrations/wandb/wandb-global-chart.png
  python-client/docs/assets/integrations/wandb/wandb-logo-yellow-dots-black-wb.png
  python-client/docs/assets/integrations/wandb/wandb-numerical-chart.png
  python-client/docs/assets/integrations/wandb/wandb-scanning-result.png
  python-client/docs/assets/integrations/wandb/wandb-test-suite-result.png
  python-client/docs/integrations/index.md
  python-client/docs/integrations/wandb/index.md
  python-client/docs/integrations/wandb/wandb-tabular-example.ipynb
  python-client/giskard/__init__.py
  python-client/giskard/core/suite.py
  python-client/giskard/datasets/base/__init__.py
  python-client/giskard/integrations/wandb/__init__.py
  python-client/giskard/integrations/wandb/wandb_utils.py
  python-client/giskard/models/model_explanation.py
  python-client/giskard/models/shap_result.py
  python-client/giskard/scanner/result.py
  python-client/pdm.lock
  python-client/pyproject.toml
  python-client/tests/integrations/test_wandb.py
  python-client/tests/models/test_model_explanation.py
Labels: Python, Integrations

#1304 [GSK-1506] Update code snippet for pickled testfunction and its default values
  frontend/src/views/main/project/TestsCatalog.vue
  python-client/giskard/__init__.py
Labels: Frontend

#1351 [GSK-1620] Add function ID for custom functions on Catalog
  frontend/src/views/main/project/FiltersCatalog.vue
  frontend/src/views/main/project/TestsCatalog.vue
  frontend/src/views/main/project/TransformationsCatalog.vue
Labels: Frontend

#1333 [GSK-1552] Fix test suite not being listed on Testing tab
  backend/src/main/java/ai/giskard/service/TestSuiteService.java
  backend/src/main/java/ai/giskard/web/rest/controllers/testing/TestSuiteController.java
  backend/src/test/java/ai/giskard/web/rest/testing/TestSuiteControllerIT.java
  python-client/giskard/core/suite.py
Labels: Python, Backend

#1358 Updated demo notebook for the WandB integration.
  python-client/docs/assets/integrations/wandb/categorical-chart.png
  python-client/docs/assets/integrations/wandb/dataset.png
  python-client/docs/assets/integrations/wandb/global-chart.png
  python-client/docs/assets/integrations/wandb/numerical-chart.png
  python-client/docs/assets/integrations/wandb/scanning-result.png
  python-client/docs/assets/integrations/wandb/test-suite-result.png
  python-client/docs/integrations/wandb/wandb-tabular-example.ipynb
  python-client/giskard/demo/__init__.py
  python-client/giskard/demo/titanic_classification.py
Labels: documentation, enhancement

#1347 [GSK-1567] Modified button doesnt detect when user goes back to original value
  frontend/src/views/main/project/Inspector.vue
Labels: Frontend
