Repository Giskard-AI/giskard, pull requests merged in 2023-10, with the labels that each got.

#1414 [GSK-1608] Update token nomenclature of CLI parameters
  README.md
  frontend/src/components/ClientInstructionCard.vue
  frontend/src/components/StartWorkerInstructions.vue
  python-client/README.md
  python-client/docs/cli/ngrok/index.rst
  python-client/docs/getting-started/quickstart.ipynb
  python-client/docs/guides/installation_app/index.rst
  python-client/docs/guides/scan/index.rst
  python-client/docs/guides/upload/index.md
  python-client/docs/integrations/hugging-face-spaces/index.md
  python-client/docs/reference/notebooks/airline_tweets_sentiment_analysis.ipynb
  python-client/docs/reference/notebooks/amazon_review_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/api_model.ipynb
  python-client/docs/reference/notebooks/cancer_detection_xgboost.ipynb
  python-client/docs/reference/notebooks/churn_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/credit_scoring.ipynb
  python-client/docs/reference/notebooks/drug_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/enron_email_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/example_notebook.ipynb
  python-client/docs/reference/notebooks/fake_real_news_classification.ipynb
  python-client/docs/reference/notebooks/hotel_text_regression.ipynb
  python-client/docs/reference/notebooks/ieee_fraud_detection_adversarial_validation.ipynb
  python-client/docs/reference/notebooks/insurance_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/m5_sales_prediction_lgbm.ipynb
  python-client/docs/reference/notebooks/medical_transcript_classification_sklearn.ipynb
  python-client/docs/reference/notebooks/movie_review_sentiment_classification_pytorch_sklearn.ipynb
  python-client/docs/reference/notebooks/newspaper_classification_pytorch.ipynb
  python-client/docs/reference/notebooks/tripadvisor_sentiment_classification.ipynb
  python-client/docs/reference/notebooks/wage_classification.ipynb
  python-client/giskard/client/giskard_client.py
  python-client/giskard/commands/cli_server.py
  python-client/giskard/commands/cli_worker.py
  python-client/tests/scan/test_scanner.py
  python-client/tests/utils.py
Labels: documentation, Python, Frontend

#1456 [GSK-1837] Error while trying to download Test Suite
  giskard/core/suite.py
Labels: bug

#1460 Gsk 1816 prompt injection garak
  python-client/giskard/scanner/llm/__init__.py
  python-client/giskard/scanner/llm/garak/LICENSE.md
  python-client/giskard/scanner/llm/garak/__init__.py
  python-client/giskard/scanner/llm/garak/_plugins.py
  python-client/giskard/scanner/llm/garak/attempt.py
  python-client/giskard/scanner/llm/garak/detectors/__init__.py
  python-client/giskard/scanner/llm/garak/detectors/base.py
  python-client/giskard/scanner/llm/garak/detectors/dan.py
  python-client/giskard/scanner/llm/garak/detectors/mitigation.py
  python-client/giskard/scanner/llm/garak/detectors/promptinject.py
  python-client/giskard/scanner/llm/garak/evaluators/__init__.py
  python-client/giskard/scanner/llm/garak/evaluators/base.py
  python-client/giskard/scanner/llm/garak/generators/__init__.py
  python-client/giskard/scanner/llm/garak/generators/giskard_generator.py
  python-client/giskard/scanner/llm/garak/harnesses/__init__.py
  python-client/giskard/scanner/llm/garak/harnesses/base.py
  python-client/giskard/scanner/llm/garak/harnesses/probewise.py
  python-client/giskard/scanner/llm/garak/probes/__init__.py
  python-client/giskard/scanner/llm/garak/probes/base.py
  python-client/giskard/scanner/llm/garak/probes/dan.py
  python-client/giskard/scanner/llm/garak/probes/promptinject.py
  python-client/giskard/scanner/llm/garak/resources/__init__.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/__init__.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/_utils.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/prompt_data.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/prompting.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/run.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/scoring.py
  python-client/giskard/scanner/llm/garak/resources/promptinject/visualization.py
  python-client/giskard/scanner/llm/garak_llm_prompt_injection_detector.py
  python-client/pdm.lock
  python-client/pyproject.toml
Labels: Python, scan

#1411 Improve reporting on robustness/ethical issues [GSK-1765]
  giskard/scanner/robustness/base_detector.py
Labels: scan

#1483 Added default value for clauses to match backend DTO
  giskard/core/core.py
Labels: bug, High priority

#1277 [GSK-1508] Add unit tests for WebSocket-based ML Worker communication (python)
  giskard/ml_worker/websocket/utils.py
  pdm.lock
  pyproject.toml
  tests/communications/fixtures/with_alias.json
  tests/communications/test_dto_serialization.py
  tests/communications/test_listener_utils.py
Labels: Python, safe for build

#1510 Avoid uploading default params several times
  giskard/core/suite.py
Labels: bug

#1511 Fix Sonar in CI to get coverage back
  .coveragerc
  .github/workflows/build-python.yml
  .github/workflows/sonar.yml
Labels: bug

#1505 [GSK-1891][GSK-1967] W&B related updates
  docs/integrations/wandb/index.md
  docs/integrations/wandb/wandb-llm-example.ipynb
  docs/integrations/wandb/wandb-tabular-example.ipynb
  giskard/core/suite.py
  giskard/datasets/base/__init__.py
  giskard/integrations/wandb/wandb_utils.py
  giskard/models/shap_result.py
  giskard/scanner/report.py
  pdm.lock
  pyproject.toml
  tests/integrations/test_wandb.py
Labels: documentation, Python, Integrations

#1520 [GSK-1608] Replace 'token' with 'key' when instantiating GiskardClient on demo notebooks
  docs/reference/notebooks/churn_prediction_lgbm.ipynb
  docs/reference/notebooks/llm_comment_generation.ipynb
  docs/reference/notebooks/llm_documentation_querying.ipynb
  docs/reference/notebooks/twitter_sentiment_analysis_roberta.ipynb
Labels: documentation
