Repository Giskard-AI/giskard, pull requests merged in 2023-02, with the labels that each got.

#662 Bug/target none
  .run/frontend.run.xml
  python-client/giskard/core/dataset_validation.py
  python-client/giskard/core/model.py
  python-client/giskard/ml_worker/core/dataset.py
Labels: new-upload-api

#688 GSK-752 Feature/ai test v2 test classes
  python-client/giskard/ml_worker/core/suite.py
  python-client/giskard/ml_worker/core/test_runner.py
  python-client/giskard/ml_worker/server/ml_worker_service.py
  python-client/giskard/ml_worker/testing/registry/giskard_test.py
  python-client/giskard/ml_worker/testing/registry/registry.py
  python-client/giskard/ml_worker/testing/tests/performance.py
  python-client/tests/test_programmatic.py
Labels: ai-test-v2

#664 GSK-748 Working on pytorch implementation
  python-client/giskard/__init__.py
  python-client/giskard/cli.py
  python-client/giskard/client/giskard_client.py
  python-client/giskard/core/core.py
  python-client/giskard/core/model.py
  python-client/giskard/core/model_validation.py
  python-client/giskard/ml_worker/core/dataset.py
  python-client/giskard/ml_worker/server/ml_worker_service.py
  python-client/giskard/ml_worker/utils/logging.py
  python-client/giskard/models/pytorch/__init__.py
  python-client/poetry.lock
  python-client/pyproject.toml
  python-client/tests/pytorch/test_error.py
  python-client/tests/pytorch/test_linear_regression_pytorch_dataframe.py
  python-client/tests/pytorch/test_newspaper_classification_pytorch_custom_model.py
  python-client/tests/pytorch/test_newspaper_classification_pytorch_dataset.py
  python-client/tests/pytorch/test_sst2_pytorch_dataloader.py
  python-client/tests/test_upload.py
  python-client/tests/utils.py
Labels: new-upload-api

#672 GSK-749 working on tensorflow implementation
  python-client/giskard/__init__.py
  python-client/giskard/core/model.py
  python-client/giskard/core/model_validation.py
  python-client/giskard/models/tensorflow/__init__.py
  python-client/poetry.lock
  python-client/pyproject.toml
  python-client/tests/tensorflow/test_mnist.py
  python-client/tests/tensorflow/test_text_classification_1d_output.py
  python-client/tests/tensorflow/test_text_classification_2d_output.py
  python-client/tests/tensorflow/test_text_classification_tfhub.csv
  python-client/tests/tensorflow/test_text_classification_tfhub.py
  python-client/tests/tensorflow/test_tf_auto_model_as_embedding_layer.py
Labels: python, new-upload-api, feature, High priority

#680 GSK-751 Feature/ai test v2 test suite execution detailed results
  backend/src/main/java/ai/giskard/repository/ml/TestSuiteNewRepository.java
  backend/src/main/java/ai/giskard/service/TestSuiteService.java
  backend/src/main/java/ai/giskard/web/dto/TestSuiteCompleteDTO.java
  backend/src/main/java/ai/giskard/web/dto/ml/SuiteTestExecutionDTO.java
  backend/src/main/java/ai/giskard/web/rest/controllers/testing/TestSuiteController.java
  backend/src/main/java/ai/giskard/web/rest/controllers/testing/TestSuiteExecutionController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/OverlayLoader.vue
  frontend/src/components/TestInputList.vue
  frontend/src/components/TestResultHeatmap.vue
  frontend/src/components/TestResultTimeline.vue
  frontend/src/filters.ts
  frontend/src/generated-sources/ai/giskard/web/dto/data-upload-params-dto.ts
  frontend/src/generated-sources/ai/giskard/web/dto/dataset-metadata-dto.ts
  frontend/src/generated-sources/ai/giskard/web/dto/ml/dataset-dto.ts
  frontend/src/generated-sources/ai/giskard/web/dto/test-suite-complete-dto.ts
  frontend/src/generated-sources/index.ts
  frontend/src/generated-sources/j2ts-generated-metadata.json
  frontend/src/router.ts
  frontend/src/stores/test-suite.ts
  frontend/src/utils/use-track-job.ts
  frontend/src/views/main/project/TestSuiteCompareExecutions.vue
  frontend/src/views/main/project/TestSuiteCompareTest.vue
  frontend/src/views/main/project/TestSuiteExecution.vue
  frontend/src/views/main/project/TestSuiteExecutionResults.vue
  frontend/src/views/main/project/TestSuiteExecutions.vue
  frontend/src/views/main/project/TestSuiteNew.vue
  frontend/src/views/main/project/TestSuiteNewConfiguration.vue
  frontend/src/views/main/project/TestSuiteNewInputs.vue
  frontend/src/views/main/project/TestSuiteNewTests.vue
  frontend/src/views/main/project/TestSuiteTestDetails.vue
  frontend/src/views/main/project/Tests.vue
  frontend/src/views/main/project/modals/RunTestSuiteModal.vue
  frontend/src/views/main/utils/ModelSelector.vue
  python-client/tests/test_programmatic.py
Labels: ai-test-v2
